<form action="/process" method="POST"  role="form" enctype="multipart/form-data">
    <input type="file" class="form-control" required accept="image/*" id="fieldPhoto" name="photo">
    <input type="submit" value="Отправить">
</form>