<form action="/process" method="POST">
    <input type="hidden" name="hush" val="Скрытое значение">
    <div>
        <label for="fieldColor">Ваш любимый цвет: </label>
        <input type="text" id="fieldColor" name="color">
    </div>
    <div>
        <button type="submit"> Отправить </button>
    </div>
</form>